body {
    padding-top: 50px;
    max-width: 100%;
    overflow-x: hidden;
}

.image-header {
    height: 300px;
    padding-left:155px;
    padding-right:155px;
    width: 100%;
    background-color: teal;
}

.profile-header{
    padding-top: 30px;
    padding-bottom: 30px;
}

.profile-image{
    height:230px;
    width:230px;
    min-width:230px;
    min-height:230px;
}

.about-me{
    color: #fff;
    opacity: 0.93;
    margin-left:50px;
}

.about-me-info{
    color: #fff;
    opacity: 0.93;
    margin-left:50px;
}

.img-center {
    margin: 0 auto;
}

.self-image{
    margin: 0 auto;
}

footer {
    padding-top:8px;
    padding-left: 20px;
    background-color: #222;
    color: #9d9d9d;
}

.project-item {
    margin-bottom: 25px;
}

.projects {
    padding-left: 40px;
    padding-right: 40px;
    padding-bot: 40px;
}

.projects-header{

}

.project-header-text{
    color: #000;
}

.thumbnails {
    text-align:center;
}

.thumbnails > li {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}
