.navbar-nav > li > a, .navbar-brand {
    padding-top: 6px !important;
    padding-bottom:0 !important;
    height: 32px;
}
.navbar {min-height:32px !important;}


.row-centered{
	text-align:center;
	display: table-cell;
	vertical-align:middle;
}

.height-centered{
	height: 100%;
	display: table;
}